:root {
--font-sans-serif: OpenSans, sans-serif;
--font-serif: Playfair Display, serif;
--font-sans-serif-2: NunitoSans, sans-serif;
--floral-white: #FFF8F1;
--antique-white: #FAE8D9;
--parchment: #F2E5D4;
--tumbleweed: #DCA78D;
--feldspar: #D28F6D;
--wax-flower: #F7C2AA;
--vivid-tangerine: #FFA686;
--deep-carrot-orange:#FFA686;
--bright-orange: #f65e39; 
--light-pink: #f7e8db;
--gray: #988D84;
--white: #ffffff;
--black:#000000;
}


html {
    box-sizing: border-box;
  }
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
  }

  img {
    max-width: 100%;
  }

  .wrapper {
    border: 2px red solid;
    max-width: 100%;
  }
  
  .card {
    border: 1px solid gray;
    overflow-x: auto;
  }
  .body__code {
    font-family: var(--font-sans-serif);
    line-height: 1.9;
    font-size: 1.2rem;
    letter-spacing: .09em;
    padding: 0 1rem 0 1rem;
  }

  .feature__menu a {
    font-family: var(--font-serif); 
    text-decoration: none;
  }

  .links__pages a {
    font-family: var(--font-serif);
  }

  a {
      color: var(--black);
      font-family: var(--font-sans-serif);
  }

  a:hover {
    color: var(--gray);
  }

  a :active {
      color: var(--black);
  }

  img {
    display: block;
  }

  .h1__code {
    font-size: 1.15em;
    letter-spacing: .09em;
    font-family: var(--font-serif);
  }
  .h2__code {
    font-family: var(--font-serif);
    letter-spacing: .02em;
    font-weight: 400;
    font-size: 1.4em;
  }

  .h3__code {
    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .15em;
    font-size: 1.5em;
  }

  .headings__code {
    border: 2px solid gray;
  }

  .links__code a {
    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    letter-spacing: 0.25em;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--bright-orange);
    text-underline-position: under
    ;
  }

  a:hover {
    color: var(--bright-orange);
  }

  .black_icons__code {
    list-style: none;
    display: flex;
  }

  .black_icons {
    padding-right: 0.5em;
  }

  .fa-envelope {
    padding-top: 0.5em;
  }
  .announcement__code {
    text-align: center;
    background-color: #c99173;
    color: var(--white);
    margin: auto;
  }

  .component__sticky-menu {
    display: inline-block;
  }

  .sticky-menu__code {
    background: var(--light-pink);
    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    display: flex;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 5em;
    margin-top: 1em;
  }

  .sticky_menu__text {
    transform: rotate(-90deg);
    letter-spacing: .15em;
    font-size: 1.2em;
  }

  .fa-bars {
    color: #df7145;
    font-size: 2em;
    padding-right: 0.5em;
  }

  .fa-bars:hover {
    color: #d4a991;
  }

.fa-long-arrow-alt-right {
  background-color: #df7145;
  color: #ffffff;
  font-weight: lighter;
  font-size: 3em;
  padding: 0.30em 0.30em 0.30em 0.30em;
}

.fa-long-arrow-alt-right:hover {
  background-color:#d4a991;
}
.button-submit__code {
  font-family: var(--font-serif);
  font-weight: 600;
  color: #929292;
  background:#ffffff ;
  letter-spacing: 0.25em;
  border-radius: 4px;
  text-decoration: none;
  text-transform: none ;
  box-shadow: 1px 1px 2px #e8dace;
  padding: 0.8em 0.8em 0.8em 0.8em;
}

.button-submit__code:hover {
  color: #929292;
}

.main-nav__list {
  list-style: none;
  font-size: 40px;
  font-weight: 300;
  text-align: left;
  line-height: 1.6667;
  padding-top: 1em;
  padding-left: 3em;
  font-family: var(--font-serif);
  text-decoration: none;
}


.main-nav__code {
  background:#f7e8db;
  width: 510px;
  min-width: 500px;
  height: 800px;
  min-height: 800px;
}


.main-nav__list .back-home__menu .main-nav__social-list {
  position: absolute;
  width: 100%;
  height: 100%;
}

.back-home__menu {
  list-style: none;
  font-family: var(--font-sans-serif);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.25em;
}
.back-home__menu {
  display: flex;
  justify-content: center;
  padding-top: 4em;
  padding-bottom: 2em;
  }

.fa-caret-left{
  padding-right: 1em;
}
.main-nav__social-list{
  list-style: none;
  display: flex;
  justify-content: center;
  color: #df7145;
  padding: 2.5em;
  font-size: 1.5em;
}

.fab {
  padding: .5em;
}

.about-card__code {
  text-align: center;
  display: block;
  width: 800px;
}

.about-card__code h2 {
  font-family: var(--font-sans-serif-2);
  font-weight: 400;
  font-size: 12.5px;
  letter-spacing: 2px;
  padding-top: 3rem;
}

.about-card__code h3 {
  margin: 1rem 12rem 1rem 12rem;
  font-weight: 500;
  font-size: 30px;
}

.about-card__code p {
  font-size: 15px;
  padding-left: 3rem;
  padding-right: 3rem;
}

.about-card__code a {
  font-size: 13px;
  padding-left: 3rem;
}

.feature__links {
  list-style: none;
}

.feature__list {
  list-style: none;
}


.feature_card__code {
  display: flex;
  background-color: #f7e8db;
  position: relative;
}

.feature_card__block {
  background-color: #fff8f2;
  display: block;
  margin-right: 26rem;
  margin-left: 10rem;
  margin-bottom: 10rem;
  margin-top: 10rem;
  padding: 2rem;
}

.feature_card__block a {
  padding-left: 1rem;
}

.feature_card__code h2 {
  color: #c99c60;
  position: absolute;
  font-size: 50px;
  top: 90px;
  left: 145px;
}

.feature__links {
  display: flex; 
  justify-content: center;
  align-items: center;
  font-size: 35px;
  margin-right: 12rem;
  
}

/* .component_card__services*/

.services-card {
  /*
  display: flex;
  */
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(8, 50px);
  grid-gap: 2rem;
  align-items: center;
  max-width: 1200px;
}

.services-card__img {

  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 30;
}


.services-card__img img {
  object-fit: cover;
  width: 100%;
  /*
  object-fit: cover;
  
  width: 350%; flex
  */
  height: 500px;
}


.services-card__text {
  /*
  transform: translate(625px);
  */
  grid-row-start: 4;
  grid-column: 26 / 50;
  background-color: white;
  padding-left: 1rem;
  padding-bottom: 2rem;
  margin-right: 5rem;
  width: 640px;
}

.services__pages {
  font-family: var(--font-serif);
  text-decoration: none;
  font-size: 30px;
  left: 120px;
  text-align: right;
  padding-right: 10rem;
}

.services-card__text h4 {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 0;
  padding-left: 1rem;
}

.services-card__text h2 {
  padding-bottom: 2rem;
  font-size: 30px;
}

.services-card__text p {
  margin-top: 0;
  font-size: 15px;
  padding-right: 12em;
}

.services-card__text a {
  font-size: 12px;
  padding-left: 1rem;
}

/* .component_card__branding*/

.branding-card {
  /*
  display: flex;
  */
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(8, 50px);
  grid-gap: 2rem;
  align-items: center;
  max-width: 1200px;
}

.branding-card__img {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 30;
}


.branding-card__img img {
  object-fit: cover;
  width: 100%;
  /*
  object-fit: cover;
  
  width: 350%; flex
  */
  height: 500px;
}


.branding-card__text {
  /*
  transform: translate(625px);
  */
  grid-row-start: 5;
  grid-column: 26 / 50;
  background-color: white;
  padding-left: 1rem;
  padding-bottom: 2rem;
  margin-right: 5rem;
}

.branding__pages {
  font-family: var(--font-serif);
  text-decoration: none;
  font-size: 30px;
  left: 120px;
  text-align: right;
  padding-right: 10rem;
}

.branding-card__text h4 {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 0;
  padding-left: 1rem;
}

.branding-card__text h2 {
  padding-bottom: 2rem;
  font-size: 30px;
}

.branding-card__text p {
  margin-top: 0;
  font-size: 15px;
}

.branding-card__text a {
  font-size: 12px;
  padding-left: 1rem;
}

/* .component_card__rental*/

.rental-card {
  /*
  display: flex;
  */
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(8, 50px);
  grid-gap: 2rem;
  align-items: center;
  max-width: 1200px;
}

.rental-card__img {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 30;
}


.rental-card__img img {
  object-fit: cover;
  width: 100%;
  /*
  object-fit: cover;
  
  width: 350%; flex
  */
  height: 500px;
}


.rental-card__text {
  /*
  transform: translate(625px);
  */
  grid-row-start: 5;
  grid-column: 26 / 50;
  background-color: white;
  padding-left: 1rem;
  padding-bottom: 2rem;
  margin-right: 5rem;
}

.rental__pages {
  font-family: var(--font-serif);
  text-decoration: none;
  font-size: 30px;
  left: 120px;
  text-align: right;
  padding-right: 10rem;
}

.rental-card__text h4 {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 0;
  padding-left: 1rem;
}

.rental-card__text h2 {
  padding-bottom: 2rem;
  font-size: 30px;
}

.rental-card__text p {
  margin-top: 0;
  font-size: 15px;
}

.rental-card__text a {
  font-size: 12px;
  padding-left: 1rem;
}

/* .component_card__downloads */

.flex__container {
  display: flex;
  background-color: #fff8f2;
  justify-content: center;
}

.flex__download {
  display: flex;
  flex-direction: column;
  background-color: #f7bdaa;
  margin-top: 6em;
  margin-right: 2em;
}

.flex__women {
  display: flex;
  flex-direction: column;
  background-color: #f7bdaa;
  margin-top: 6em;
  margin-right: 2em;
}


.card__women {
  display: flex;
  background-color: #f7bdaa;
  flex-direction: column;
  margin-top: 5em;
  padding: 1em;
}

.card__women img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card__flowers img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card__flowers {
  display: flex;
  background-color: #f7bdaa;
  flex-direction: column;
  margin-top: 5em;
  padding: 1em;
}

.card__day {
  display: flex;
  background-color: #f7bdaa;
  flex-direction: column;
  margin-top: 5em;
  padding: 1em;
}

.card__day img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.download__text {
  background: #f7e8db;
  padding-bottom: 1em;
}

.text__card {
  margin-top: 6.3em;
}

.h3__download {
  font-family: var(--font-sans-serif-2);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  padding-top: 1.5em;
  text-align: center;
}

.h4__download {
  font-family: var(--font-sans-serif-2);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 2px;
  margin-top: 0;
  text-align: center;
}

.card__downloads {
  background-color: #fff8f2;
}

.card__downloads h2 {
  text-align: center;
  padding-top: 2em;
  margin-bottom: -1.5em;
}
.more_downloads {
  background-color: #fff8f2;
  margin-top: 0;
  padding-top: 3em;
  padding-bottom: 2em;
  text-align: center;
  font-size: 12px;
}

.event-card {
  display: grid;
}
.event-card__img {
    grid-row: 8 / 5;
    grid-column: 22 / 40;
}

.event-card__text {
  grid-row-start: 7;
  grid-column: 12 / 22;
  padding-right: 0;
  height: 290px;
  width: 500px;
  overflow: auto;
}

.event-card__text p {
   padding-bottom: 0;
  padding-right: 3em;
  text-align: left;
  font-size: 14px;
}

.event-card__text a {
  font-size: 12px;
}

.grid__links {
  grid-row: 8 / 5;
  grid-column: 37 / 40;
}

.grid__list {
  list-style: none;
  font-size: 30px;
}

.event-card__body {
  padding-top: 2em;
}

.event-card h2 {
  grid-row: 4 / 6;
  grid-column: 12 ;
  z-index: 10;
  text-transform: uppercase;
}

.event-card h3 {
  grid-row: 4 / 7;
  grid-column: 12 ;
  z-index: 10;
  text-transform: lowercase;
  font-size: 70px;
  font-weight: bolder;
}




/* .footer */
.footer__main-nav {
  border: 2px solid green;
  display: flex;
  justify-content: center;
}

.footer__main-nav li {
  list-style: none;
  padding: 1rem;
  text-transform: uppercase;
}

.footer__main-nav a {
  text-decoration: none;
}

.footer__nav-flex {
  display: flex;
}
.footer__nav-about {
  border: solid 1px black;
  height: 220px;
  width: 200px;
}


.footer__nav-about li {
  list-style: none;
  text-transform: uppercase;
  font-family: var(--font-sans-serif);
  
}

.footer__stacked-text {
  display: flex;
  padding: 0.5em;
}

/* Home Page CSS */

.header__announcement {
  font-size: 16px;
  font-weight: 200;
  width: 100%;
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}


.header {
  margin-top: 0;
}

.header__nav {
  position: fixed;
  top: 0;
  margin-top: 0;
  z-index: 10;
  width: 100%;
}

.nav__sticky_menu {
  width: 160px;
  height: 160px;
  align-content: center;
  padding-left: 2em;
  margin-top: 0;
}


.nav__sticky_menu p {
  margin: 0;
}

.header__social_nav {
  padding-top: 4em;
  padding-bottom: 4em;
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #fff8f2;
}

.header__wordmark {
  display: grid;
  justify-content: center;
  grid-column-start: 3;
  grid-column-end: 4;
  /*
  position: absolute;
  top: 120px;
  right: 725px;
  */
}

.header__black_icons {
  display: grid;
  justify-content: end;
  align-content: center;
  grid-column-start: 4;
  grid-column-end: 5;
  padding-right: 1em;
  /*
  position: absolute;
  top: 120px;
  right: 50px;
  */
}

.header__icons_list {
  font-size: 20px;
}

.section__about {
  height: 500px;
  background-color: #fff8f2;

}

.about_card {
  height: 500px;
  background-color: white;
  position: relative;
  top: -50px;
  left: 320px;
  background-color: #ffffff;
}


.about-card__code h3 {
  padding-left: 1em;
  padding-right: 1em;
}











