:root {
--font-sans-serif: OpenSans, sans-serif;
--font-serif: Playfair Display, serif;
--font-sans-serif-2: NunitoSans, sans-serif;
--floral-white: #FFF8F1;
--antique-white: #FAE8D9;
--parchment: #F2E5D4;
--tumbleweed: #DCA78D;
--feldspar: #D28F6D;
--wax-flower: #F7C2AA;
--vivid-tangerine: #FFA686;
--deep-carrot-orange:#FFA686;
--bright-orange: #f65e39; 
--light-pink: #f7e8db;
--gray: #988D84;
--white: #ffffff;
--black:#000000;
}


html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .body__code {
    font-family: var(--font-sans-serif);
    line-height: 1.9;
    font-size: 1.2rem;
    letter-spacing: .09em;
    padding: 0 1rem 0 1rem;
  }

  a {
      color: var(--black);
      font-family: var(--font-sans-serif);
  }

  a:hover {
    color: var(--gray);
  }

  a :active {
      color: var(--black);
  }

  img {
    display: block;
  }

  .h2__code {
    font-size: 1.15em;
    letter-spacing: .09em;
    font-family: var(--font-serif);
  }
  .h3__code {
    font-family: var(--font-serif);
    letter-spacing: .02em;
    font-weight: 400;
    font-size: 1.4em;
  }

  .h4__code {
    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .15em;
    font-size: 1.5em;
  }

  .headings__code {
    border: 2px solid gray;
  }

  .links__code a {
    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    letter-spacing: 0.25em;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--bright-orange);
    text-underline-position: under
    ;
  }

  a:hover {
    color: var(--bright-orange);
  }

  .component__sticky-menu {
    display: inline-block;
  }

  .sticky-menu__code {
    background: var(--light-pink);
    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    display: flex;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 5em;
    margin-top: 1em;
  }

  .sticky_menu__text {
    transform: rotate(-90deg);
    letter-spacing: .15em;
    font-size: 1.2em;
  }

  .fa-bars {
    color: #df7145;
    font-size: 2em;
    padding-right: 0.5em;
  }

  .fa-bars:hover {
    color: #d4a991;
  }

.fa-long-arrow-alt-right {
  background-color: #df7145;
  color: #ffffff;
  font-weight: lighter;
  font-size: 3em;
  padding: 0.30em 0.30em 0.30em 0.30em;
}

.fa-long-arrow-alt-right:hover {
  background-color:#d4a991;
}
.button-submit__code {
  font-family: var(--font-serif);
  font-weight: 600;
  color: #929292;
  background:#ffffff ;
  letter-spacing: 0.25em;
  border-radius: 4px;
  text-decoration: none;
  text-transform: none ;
  box-shadow: 1px 1px 2px #e8dace;
  padding: 0.8em 0.8em 0.8em 0.8em;
}

.button-submit__code:hover {
  color: #929292;
}

.main-nav__list {
  list-style: none;
  font-size: 40px;
  font-weight: 300;
  text-align: left;
  line-height: 1.6667;
  padding-top: 1em;
  padding-left: 3em;
  font-family: var(--font-serif);
  text-decoration: none;
}


.main-nav__code {
  background:#f7e8db;
  width: 510px;
  min-width: 500px;
  height: 800px;
  min-height: 800px;
}


.main-nav__list .back-home__menu .main-nav__social-list {
  position: absolute;
  width: 100%;
  height: 100%;
}

.back-home__menu {
  list-style: none;
  font-family: var(--font-sans-serif);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.25em;
}
.back-home__menu {
  display: flex;
  justify-content: center;
  padding-top: 4em;
  padding-bottom: 2em;
  }

.fa-caret-left{
  padding-right: 1em;
}
.main-nav__social-list{
  list-style: none;
  display: flex;
  justify-content: center;
  color: #df7145;
  padding: 2.5em;
  font-size: 1.5em;
}

.fab {
  padding: .5em;
}

.about-card__code {
  text-align: center;
  display: block;
  width: 800px;
}

.about-card__code h2 {
  font-family: var(--font-sans-serif-2);
  font-weight: 400;
  font-size: 12.5px;
  letter-spacing: 2px;
  padding-top: 3rem;
}

.about-card__code h3 {
  margin: 1rem 12rem 1rem 12rem;
  font-weight: 500;
  font-size: 30px;
}

.about-card__code p {
  font-size: 15px;
  padding-left: 3rem;
  padding-right: 3rem;
}

.about-card__code a {
  font-size: 13px;
  padding-left: 3rem;
}

.feature__links {
  list-style: none;
}

.feature__list {
  list-style: none;
}


.feature_card__code {
  display: flex;
  background-color: #f7e8db;
  position: relative;
}

.feature_card__block {
  background-color: #fff8f2;
  display: block;
  margin-right: 26rem;
  margin-left: 26rem;
  margin-bottom: 10rem;
  margin-top: 10rem;
  padding: 2rem;
}

.feature_card__block a {
  padding-left: 1rem;
}

.feature_card__code h2 {
  border: 2px solid red;
  color: #c99c60;
  position: absolute;
  font-size: 50px;
  top: 90px;
  left: 395px;
}
