<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | LAB Mpls </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Playfair+Display&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <h1>LAB Mpls Web Components</h1>

    
    <h2>Typography Defaults</h2>
<!--.body-->
        <article class="body">
            <h3 class="component__body">body</h3>
            <div class="component__img">
                <img 
                    srcset="../components/img/body-copy.png 2x"
                    src="../components/img/body-copy.png" alt="">
            </div>
            <div class="body__code">
                <p>Over forty of the most unique and coveted local makers and businesses in the Twin Cities will be featured at 
                    <a href="!#">Galleria</a>
                    as part of the Holiday Reimagined event curated by LAB. The Collective members and their collections will be showcased in fresh, innovative and elevated ways to support contactless as well as in-person shopping opportunities.
                </p>
            </div>
        </article>

<!--.headings-->
        <article class="headings">
            <h3 class="component__headings">headings (h1, h2, h3, h4) </h3>
            <div class="component__img">
                <img 
                    srcset="../components/img/h2@2x.png 2x"
                    src="../components/img/h2@2x.png" alt="">
                <img 
                    srcset="/components/img/h3@2x.png 2x"
                    src="../components/img/h3@2x.png" alt="">
                <img 
                    srcset="../components/img/h4@2x.png 2x"
                    src="../components/img/h4@2x.png" alt="">
            </div>
            <div class="headings__code">
                <p class="h2__code">The Collective 2020 Is Back! Click Here For Details</p>
                <p class="h3__code">Creative Services</p>
                <p class="h4__code">Elevating Brands</p>
            </div>
        </article>

<!--.a-->
        <article class="compenent__links">
            <h3 class="component__headings">Links</h3>
            <div class="component__img">
                <img 
                    srcset="../components/img/links@2x.png 2x"
                    src="../components/img/links@2x.png" alt="">
            </div>
            <div class="links__code">
                <p> 
                    <a href="!#">What We Do</a>
                </p>
            </div>
        </article>

<!--.atoms-->

<!--.component__wordmark-->
    <h2>Atoms</h2>
        <article class="component__wordmark">
            <h3 class="component__heading">Wordmark</h3>
            <div class="component__img">
                <img 
                    srcset="../components/img/wordmark@2x.png 2x" 
                    src="../components/img/wordmark@2x.png" alt="">
            </div>
            <div class="atoms__code">
                <p class="wordmark__code">LAB</p>
            </div>
        </article>

<!--.component__sticky-menu-->
        <article class="component__sticky-menu">
            <h3 class="component__heading">Sticky Menu</h3>
            <div class="component__img">
                <img 
                    srcset="../components/img/sticky-menu@2x.png 2x"
                    src="../components/img/sticky-menu@2x.png" alt="">
            </div>
            <div class="atoms__code">
                <p class="wordmark__code">Menu</p>
            </div>
        </article>

<!--.component__buttons-->
        <article class="component__buttons">
            <h3 class="component__heading">Buttons</h3>
            <div class="component__img">
                <img 
                    srcset="../components/img/arrow-button@2x.png 2x"
                    src="../components/img/arrow-button@2x.png" alt="">
                <img 
                    srcset="../components/img/submit-button@2x.png 2x"
                    src="../components/img/submit-button@2x.png" alt="">
            </div>
            <div class="atoms__code">
                <p class="button-arrow__code">arrow</p>
                <p class="button-submit__code">submit</p>
            </div>
        </article>

<!--.component__page-header-->
        <article class="page-header">
            <h3 class="component__page-header">body</h3>
            <div class="component__img">
                <img 
                    srcset="../components/img/body-copy.png 2x"
                    src="../components/img/body-copy.png" alt="">
            </div>
            <div class="body__code">
                <p>Over forty of the most unique and coveted local makers and businesses in the Twin Cities will be featured at 
                    <a href="!#">Galleria</a>
                    as part of the Holiday Reimagined event curated by LAB. The Collective members and their collections will be showcased in fresh, innovative and elevated ways to support contactless as well as in-person shopping opportunities.
                </p>
            </div>
        </article>

</body>
</html>