<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | LAB Mpls </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Playfair+Display&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <h1>Web Components Go Here</h1>

    <h2>Typography Defaults</h2>
    <article class="component">
        <h3 class="component__name">body</h3>
        <img 
            srcset="/components/img/body-copy.png 2x"
            src="/components/img/body-copy.png" alt="">
        <div class="component__code">
            <p>Over forty of the most unique and coveted local makers and businesses in the Twin Cities will be featured at <a href="!#">Galleria</a>
             as part of the Holiday Reimagined event curated by LAB. The Collective members and their collections will be showcased in fresh, innovative and elevated ways to support contactless as well as in-person shopping opportunities.</p>
        </div>
    </article>
</body>
</html>